.markdown {
    font-family:Tahoma, Verdana, Geneva, sans-serif;
    padding: 30px;
    font-size: 18px;
    font-weight: 400;
}

.markdown p {
    font-size: 20px;
    line-height: 200%;
    font-weight: 400;
    padding: 0;
}

.markdown h1 {
    margin-bottom: 10px;
    font-size:300%;
    padding: 0;
    font-variant:small-caps;
}

.markdown h2 {
    padding: 0;
    font-size: 150%;
    margin: 24px 0 6px;
}

.markdown h3 {
    font-size: 120%;
}

.markdown h4 {
    font-size: 100%;
    font-variant: small-caps;
}

.markdown h5 {
    font-size:80%;
    font-weight: 100;
}

.markdown h6 {
    font-size:80%;
    font-weight: 100;
    font-variant:small-caps;
}

.markdown img {
    width: 100%;
    height: auto;
    justify-content: center;
}

.markdown li {
    line-height: 150%;
}
